body{
    background-color: whitesmoke;
  }
  
  .first_cont {
    background-color: transparent;
    color: darkslategray;
  }
  
  .icon{
    background-color: #FF5500;
    color: white;
    font-size: 30px;
  }